.sectionFormulario
{
    color:white;
    width: 60%; 
    margin: auto;
}
.sectionFormularioTabla
{
    color:white;
    width: 60%; 
    margin: auto; 
}

th, td {
    border: 1px solid #9f3647;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #9f3647; /* Fondo negro para resaltar el texto blanco */
    color: white ; /* Texto en blanco */
    text-align: center;
}

td {
    color: white; /* Texto en blanco */
    text-align: center;
}

/* Botón Danger */
.btn-danger {
    background-color: #ed1c1c;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 90%; /* Ancho del 100% para ser responsive */
    margin: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px; /* Tamaño de fuente aumentado */
    transition: background-color 0.3s; /* Transición suave */
  }

  .btn-danger:hover {
    background-color: #f6de23;
  }

  /* Botón Success */
.btn-success {
    background-color: #11a422;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 90%; /* Ancho del 100% para ser responsive */
    margin: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px; /* Tamaño de fuente aumentado */
    transition: background-color 0.3s; /* Transición suave */
  }

  .btn-success:hover {
    background-color: #e7f5ea;
  }
  